<div class="container flex-grow-1">
  <div class="d-flex flex-column">
    <h1 class="text-center my-4">O mnie</h1>
      <div class="row align-items-center justify-content-between">
        <div class="about-me__info col-12 col-lg-7">
          <h2>Cześć, z tej strony Dawid</h2>
          <p>Jestem frontend developerem z ponad dwuletnim doświadczeniem.</p>
          <p>
            W mojej pracy korzystam głónie z frameworków takich jak vue.js czy
            ember.js
          </p>
          <p>Na codzień korzystam z szablonu html którym jest handlebars</p>
          <p>
            Frameworki CSS, którymi się posługuje to Foundations Sites oraz
            Boostrap
          </p>
          <p>
            Po godzinach rozwijam się w wielu technologiach frontendowych takich
            jak wcześniej wspomniany vue.js, nuxt.js
          </p>
          <p>
            Posiadam własną aplikację do tradingu w serwisie binance, która
            handluje na kontraktach futures
          </p>
          <p>
            Aplikacja ta zbudowana została na silniku electron oraz korzysta z
            backendu, który zbudowany jest na express.js. Wszystkie dane
            zapisywane są w bazie danych mongoDB
          </p>
          <p>
            Jeśli chcesz dowiedzieć się czegoś o technologiach, których używam
            zapraszam na stronie <a href="/technologies">technologii</a>
          </p>
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-center">
          <div class="about-me__image">
            <img src="../../resources/images/Dawid-zdjecie.png" alt="" />
          </div>
        </div>
      </div>
  </div>
</div>
