body {
  @include bodyFullHeight;
}
.about-me {
  &__image {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    & img {
      filter: hue-rotate(45deg);
    }
  }
}
