@import "../../components/about-me/about-me";
body {
  @include bodyFullHeight;
}

.about-me {
  flex-grow: 1;
}

.contact {
  &__typewriter {
    height: calc(47px * 3);
    @include media-breakpoint-up(md) {
      height: calc(47px * 2);
    }
    @include media-breakpoint-up(lg) {
      height: auto;
    }
  }
  &-form {
    input,
    textarea {
      padding: 0.5rem;
      border-left: 1px solid black;
      border-top: 1px solid black;
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      border-radius: 0;
    }
    textarea {
      resize: none;
    }

    &__button {
      background-color: transparent;
      border: 1px solid $black;
      border-right-width: 2px;
      border-bottom-width: 2px;
      padding: 0.25rem 1rem;
      margin-left: auto;
      display: block;
      &:active {
        box-shadow: 0 0 12px 4px rgba($primary, 0.3);
      }
      // @include boxShadow;
    }
    &__item-error {
      color: $red;
      &.hidden {
        display: none;
      }
    }
    &.hidden {
      display: none;
    }
  }
  &__thank-you-text {
    display: none;
    text-align: center;
    margin-top: 48px;
    &.active {
      display: block;
    }
  }
}
