<footer>
  <div class="container-xl">
    <div class="footer d-flex justify-content-between flex-wrap">
      <div class="footer__company">
        <p>Dawid Starzyk Software Development</p>
        <p>NIP: 8121924938</p>
        <p>KRS: 521615971</p>
      </div>
      <div class="footer__contact">
        <p>
          E-mail:
          <a href="mailto:starzyk.dawid.0826@gmail.com"
            >starzyk.dawid.0826@gmail.com</a
          >
        </p>
        <p>Telefon: <a href="tel:730795875">730795875</a></p>
      </div>
      <div>
        <p>COPYRIGHT RESERVED &copy; 2023</p>
      </div>
    </div>
  </div>
</footer>
